/* valeurs générales du footer */
footer {
    height: 300px;
    border: black 5px solid;
    overflow-x: hidden;
    max-width:100%;
    padding-bottom: 10px;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: inherit;
    
}
/* Placement image (drip) */
footer img {
    position :relative;
    width: 100vw;
    height:30%;
    max-width:100%;
}

/* Placement icons réseaux sociaux */
footer div#social-network   {
    position: absolute;
    right: var(--global-padding-LR);
    width: 80px;
    height: 200px;
    
    
}
footer div#social-network > a > img {
    
    width: 80px;
    height: calc(200px / 4);
}

/* Placement plan du site et nom + esthétique */
footer div#infos {
    position: absolute;
    left: var(--global-padding-LR);
}
footer div#infos p:first-child {
    font-size: max(1.6vw,1rem);
    font-weight: bold;
    color: inherit;
}
footer div#infos p:nth-child(2) {
    font-family: 'Typo-Round-Thin';
    font-size: max(1.2vw,0.5rem);
    color: inherit;
    padding-bottom: 15px;
}
footer div#infos ul > a li {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
}


/* Placement des moyens de paiement */
footer div#infos div#paiement {
    display: flex;
    width: 200px;
    height:50px;
    gap: 10px;
}
footer div#infos div#paiement > a > img {
    width: calc(200px / 4);
    height:50px;
}

/* Placement des copyright */
footer p.copyright{
    color: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: max(1.2vw, 15px);
    margin-top:180px;
}

