/* Pour l'affichage au moment de paiement */
div#cadre:not(.visible) {
    display:none;
}

/* Background */
div#pre-panier {
    position:relative;
    overflow-y: scroll;
}

/* Encadré à changé au niveau du grid */
 div#cadre {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width:min(850px, 90%);
    border-radius:20px;
    border: black solid 5px;
    background-color: var(--white);
}

/* titre */
div#cadre  > p {
    position: relative;
    margin-top:30px ;
    font-family: 'Typo-Round-Bold';
    font-size:min(35px,6vw);
    background-color: #babfe754;
    padding: 1% 5%;
    border-radius:30px
}

 /* Le bouton pour fermer et ouvrir la page */
div#cadre > img.fermer-pre-panier {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Partie formulaire */

div#cadre > form {
    align-self: start;
}
div#cadre > form label {
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
    background-color: white;
    padding: 0 5px;
    font-family: 'Typo-Round-bold';
    letter-spacing: 2px;
    font-size: max(1.2vw, 15px)
}
div#cadre > form label[for^="nom"] {
    color: var(--darkerPink);
    text-shadow: 1px 1px 1px black;
    /* text-shadow: -1px 0 magenta, 0 1px magenta, 1px 0 magenta, 0 -1px magenta; */
}
div#cadre > form label[for^="prenom"] {
    color: var(--darkerGreen);
    text-shadow: 1px 1px 1px black;
    /* text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green; */
}
div#cadre > form label[for^="tel"] {
    color: var(--yellow);
    text-shadow: 1px 1px 1px black;
    /* text-shadow: -1px 0 orangered, 0 1px orangered, 1px 0 orangered, 0 -1px orangered; */
}
div#cadre > form label[for^="mail"] {
    color: var(--darkerBlue);
    text-shadow: 1px 1px 1px black;
    /* text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue; */
}
div#cadre > form label[for^="adresse"] {
    color: var(--darkerPurple);
    text-shadow: 1px 1px 1px black;
    /* text-shadow: -1px 0 blueviolet, 0 1px blueviolet, 1px 0 blueviolet, 0 -1px blueviolet; */
}
div#cadre > form label[for^="cp"] {
    color: var(--lightPink);
    text-shadow: 1px 1px 1px black;
    /* text-shadow: -1px 0 rgb(255, 65, 97), 0 1px rgb(255, 65, 97), 1px 0 rgb(255, 65, 97), 0 -1px rgb(255, 65, 97); */
}
div#cadre > form label[for^="ville"] {
    color: var(--lightBlue);
    text-shadow: 1px 1px 1px black;
    /* -1px 0 rgb(0, 89, 255), 0 1px rgb(0, 89, 255), 1px 0 rgb(0, 89, 255), 0 -1px rgb(0, 89, 255) */
}
div#cadre > form label[for^="autrechose"] {
    color: var(--lightPurple);
    text-shadow: 1px 1px 1px black;
    /* text-shadow: -1px 0 rgb(255, 0, 255), 0 1px rgb(255, 0, 255), 1px 0 rgb(255, 0, 255), 0 -1px rgb(255, 0, 255); */
}
div#cadre > form input {
    border: 3px solid black;
    border-radius: 40px;
    height: max(2vw, 25px);
    width: max(14.5vw, 150px);
    margin-top: 35px;
    margin-right: 25px;
    background-color:white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


div#cadre > form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    width: 100%;
}

div#cadre > form > div#premier {
    display: flex;
    flex-direction: column;
}


div#cadre > form > div#deuxieme > input#adresse,div#cadre > form > div#quatrieme > input#autrechose {
    width: calc( 1.5 * max(14.5vw, 150px) );
}

div#cadre > form > div#sixieme {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}

div#cadre > form > div#sixieme > p {
    width:50%;
    
}

div#cadre > form > div#sixieme > button {
    background-color: black;
    color: white;
    width:150px;
    height:40px;
    font-family: 'Typo-Round-Regular';
    border-radius:35px;
    margin-right: 25px;
}