/* ________ TITRE DE LA PAGE _________ */
main p.tittle {
    /* placement */
    text-align: center;
    margin: 0 auto;
    margin-top:4vw ;
    margin-bottom:5vw;
    border-radius:30px;
    /* apparence */
    width: 15vw;
    font-size:min(3vw,4.5vw);
    font-family: 'Typo-Round-Bold';
    background-color:var(--lightBlue);
}

/* ____ Enveloppe globale du panier ____ */
main > div#ToutLePanier{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
    max-width: 100%;
    padding-top: 25px;
}


/* ___________ PARTIE : liste d'articles du client _______________ */
main > div#ToutLePanier > div#CoteProduits {
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    width: max(60vw, 330px);
    height: 400px;
    overflow-y: auto;
}
/* ___ "mon panier" au dessus de la liste d'articles du client ____*/
main > div#ToutLePanier::before {
    position: absolute;
    content : 'mon panier';
    font-family: 'Typo-Round-Light';
    font-size: 0.8em;
    top: 0;
    left: 8vw;
}
/*  Séparateur des produits  */
/* enveloppe globale de la liste (apparence général) */
div#CoteProduits > div.produit {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: black 1px solid;
    padding-top: 20px;
    font-family: 'Typo-Round-Light' ;
    
}
/* 1er partie : PHOTO DU PRODUIT */
/* FOND */
div#CoteProduits > div.produit > div[class^="photo"] {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: max(6vw,60px);
    height: max(6vw,60px);
}
/* Variations du fond en fonction du produit */
div#CoteProduits > div.produit > div.photofy {
    background-color: var(--yellow);
}
div#CoteProduits > div.produit > div.photoflg {
    background-color: var(--lightGreen);
}
div#CoteProduits > div.produit > div.photofdg {
    background-color: var(--darkerGreen);
}
div#CoteProduits > div.produit > div.photoflpi {
    background-color: var(--lightPink);
}
div#CoteProduits > div.produit > div.photofdpi {
    background-color: var(--darkerPink);
}
div#CoteProduits > div.produit > div.photoflpu {
    background-color: var(--lightPurple);
}
div#CoteProduits > div.produit > div.photofdpu {
    background-color: var(--darkerPurple);
}
div#CoteProduits > div.produit > div.photoflb {
    background-color: var(--lightBlue);
}
div#CoteProduits > div.produit > div.photofdb {
    background-color: var(--darkerBlue);
}
/* IMAGE */
div#CoteProduits > div.produit > div[class^="photo"] > img {
    width: max(4vw,40px);
    height: max(4vw,40px);
}
/* 2eme partie : NOM ET PRIX DE L'ARTICLE */
div#CoteProduits > div.produit > div.produits {
    width:15%;
}
/* nom de l'article */
div#CoteProduits > div.produit > div.produits p:first-child {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: max(1.2vw, 10px);
}
/* Prix de l'article */
div#CoteProduits > div.produit > div.produits p:last-child {
    font-size: max(1vw, 10px);
    font-family: 'Open Sans', sans-serif;
}
/* 3eme partie : QUANTITÉ*/
div#CoteProduits > div.produit > input {
    text-align: center;
    font-family: 'Typo-Round-Light' ;
    height : 20px;
    width: max(3vw,30px);
}
/* 4eme partie : PRIX * QUANTITÉ DE UN ARTICLE */
div#CoteProduits > div.produit > p {
    font-size: max(1.2vw, 13px);
    font-family: 'Open Sans', sans-serif;
}
/* 5eme partie : LA CROIX (supprimer) */
div#CoteProduits > div.produit > img {
    width: 10px;
    align-self: flex-start;
    margin-right: 10px;
}

/* _______  PARTIE : Prix de la commande du client + bouton _________ */

div#CotePrix {
    font-family: 'Typo-Round-Regular';
    text-align: center;
    font-size: 0.8em;
}
div#Total {
    display: flex;
    justify-content: space-between;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    width: 330px;
    height: 150px;
    
}
div#Total ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
div#Total ul:last-child li:first-child, div#Total ul:last-child li:last-child, div#TotalFinal > p:last-child  {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

div#TotalFinal {
    display: flex;
    justify-content: space-between;
}
div#TotalFinal {
    margin: 20px 0;
    
}
div#TotalFinal > p:first-child > span {
    font-family: 'Typo-Round-Light';
    font-size: 0.6em;
}
div#CotePrix > button {
    margin-top: 10px ;
    font-weight: bold;
    font-size: 1em;
    border-radius: 10px;
    background-color: var(--darkerGreen);
    color:black;
    font-family: 'Open Sans', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.082) 2px 3px;
    width: 150px;
    height: 30px;
    cursor: pointer;
}


/* SOUS-PARTIE : réduction / spécifications */

div#Bonus {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-left: 6vw;

}
div#Bonus > form {
    display:flex;
    flex-direction: column;
    margin-top: 50px;
    font-family: 'Typo-Round-Light';
    font-size: 0.8em;
}
div#Bonus > form > div {
    margin-bottom: 5px;
}
form.code input, form.autre textarea {
    border: black 2px solid;
    
}
form.autre {
    margin-bottom: 100px;
}
form.autre textarea {
    height : 150px;
    width: 300px;
}
div#Bonus form img {
    width : 15px;
    height:15px
}
form.code > div.validationCode {
    display: flex;
}
form.code > div.validationCode button {
    color: white;
    border: black 2px solid;
    font-family: 'Typo-Round-Bold';
    background-color: black;

}
