/* Le "pre"-panier dans sa globalité (back-ground + div englobante)*/
html.noScroll {
    position:fixed;
}
/* l'option visible et invisible du pre-panier */
div#pre-panier:not(.visible) {
    display:none;
}
/* Pour empêcher le pré-panier de s'afficher en même temps */
div#contenu-panier:not(.visible) {
    display:none;
}

/* _______________ BACKGROUND NOIR TRANSPAREND */
div#pre-panier {
    display:flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.164);
    text-align: center;
    
}

/* _________________ COUNTAINER du panier entier */
div#contenu-panier {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width:min(850px, 90%);
    border-radius:20px;
    border: black solid 5px;
    background-color: var(--white);
}

/* _____________________ HAUT DU PANIER ____________________________ */

/* titre  */
div#contenu-panier > p {
    position: relative;
    margin-top:30px ;
    font-family: 'Typo-Round-Bold';
    font-size:min(35px,6vw);
    background-color: #babfe754;
    padding: 1% 5%;
    border-radius:30px
}

/* image pour fermer le "pre"-panier*/
div#contenu-panier > img.fermer-pre-panier {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}


/* _________________ PARTIE ARTICLES _______________________ */
/* Section contenant le total des articles dans le panier*/
div#tous-articles {
    display: grid;
    justify-content: center;
    grid-template-rows: 40px 1fr;
    width: 100%;
    height: min(100px,70vh);
    box-sizing: border-box;
}
/* mes cupcakes (miam) */
div#tous-articles > p {
    justify-self: start;
    align-self: end;
    margin-left: 5vw;
    margin-bottom: 0.5vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: min(15px,2.5vw );
}
div#tous-articles > div.articles {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border-top: 2px solid black;
    border-bottom: 3px solid black;
    width: min(700px,80vw);
    height: max(5.7vw,280px);
}
/* séparateur de produits */
div#cake {
    display: flex;
    justify-content: space-between;
    border-bottom: black 1px solid;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Typo-Round-Light' ;
}
/* indication que le panier est vide */
p.vide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Typo-Round-Light';
    color:rgb(161, 158, 158);
    filter: blur(0.5px);

}

/* _____________________ PARTIE IMAGE : fond + photo */
/* FOND VALEUR GENERAL*/
div#cake > div[class^="photo"] {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: max(6vw,60px);
    height: max(6vw,60px);

}
/* Variation de couleur en fonction des articles */
div#tous-articles div.articles > div#cake > div.photofy {
    background-color: var(--yellow);
}
div#tous-articles div.articles > div#cake > div.photoflg {
    background-color: var(--lightGreen);
}
div#tous-articles div.articles > div#cake > div.photofdg {
    background-color: var(--darkerGreen);
}
div#tous-articles div.articles > div#cake > div.photoflpi {
    background-color: var(--lightPink);
}
div#tous-articles div.articles > div#cake > div.photofdpi {
    background-color: var(--darkerPink);
}
div#tous-articles div.articles > div#cake > div.photoflpu {
    background-color: var(--lightPurple);
}
div#tous-articles div.articles > div#cake > div.photofdpu {
    background-color: var(--darkerPurple);
}
div#tous-articles div.articles > div#cake > div.photoflb {
    background-color: var(--lightBlue);
}
div#tous-articles div.articles > div#cake > div.photofdb {
    background-color: var(--darkerBlue);
}
/* photo */
div#cake > div[class^="photo"] > img {
    width: max(4vw,40px);
    height: max(4vw,40px);
}

/* _________________  2eme partie : NOM ET PRIX DE L'ARTICLE */
/* nom de l'article */
div#cake > div#produits-nom-prix {
    width:25%;
}

div#cake > div#produits-nom-prix p:first-child {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: max(1.2vw, 10px);
}
div#cake > div#produits-nom-prix p:last-child {
    font-size: max(1vw, 10px);
    font-family: 'Open Sans', sans-serif;
}

/* 3eme partie : QUANTITÉ*/
div#cake > div.quantite {
    display:flex;
    border: 0.5px solid black;
    height : 24px;
}
div#cake > div.quantite > div{
    display:flex;
    align-items: center;
    font-size: max(1.2vw, 20px);
    cursor: pointer;
}
div#cake > div.quantite > div:first-child, div#cake > div.quantite > div:last-child {
    padding: 0 5px ;
}
div#cake > div.quantite > div:first-child:active, div#cake > div.quantite > div:last-child:active {
    background-color: black;
    color:white
}

div#cake > div.quantite > p {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Typo-Round-Light' ;
    width: max(3vw,25px);
}

/* 4eme partie : PRIX * QUANTITÉ DE UN ARTICLE */
div#cake > p.total-d-article {
    font-size: max(1.2vw, 11px);
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
/* 5eme partie : LA CROIX (supprimer) */
div#cake > img#circle-cancel {
    width: 17px;
    align-self: flex-start;
    margin-right: 5px;
    cursor: pointer;
}

/*_______________________ Section total du panier ______________________*/
div#contenu-panier > div#pre-panier-total {
    margin-top: 230px;
    display: grid;
    width: 75%;
    grid-template-columns: 70% 30%;
}
div#contenu-panier div#pre-panier-total > p {
    justify-self: start;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: max(1.5vw, 18px);
}
div#contenu-panier div#pre-panier-total > p > span {
    font-size: max(0.5vw, 10px);
    font-weight: 300;
}
div#contenu-panier div#pre-panier-total > p#prix {
    justify-self: end;
    
}
div#contenu-panier div#pre-panier-total > p#prix > span, div#contenu-panier div#pre-panier-total > p#prix  {
    font-size: max(1.2vw, 15px);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
div#contenu-panier div#pre-panier-total > p#prix span#etoile {
    font-weight: normal;
    font-size: max(0.5vw, 9px);
    vertical-align: text-top
}


/* boutton pour passer à la page de paiement*/
div#contenu-panier > form > button#pre-payer {
    margin: 25% 0;
    height:40px;
    width:min(30vw,170px);
    background-color: var(--lightGreen);
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
    justify-self: start;
}