
main{
    width: 100vw;
    max-width: 100%;
    text-align: center;
}

/*Le titre de ma page*/
main div#tittle{
    margin-left: auto;
    margin-right: auto;
    width:max(50vw,100px);
    height:15vw;
    background-color: #c1e8dc80;
    border-radius: 1100px;
    z-index:-1;
    margin-top: 80px;
    margin-bottom: 90px;
}  
main div#tittle::before {
    content:'Nos cupcakes';
    position: absolute;
    left: 0;
    right: 0;
    top:max(16vw,190px);
    margin-left: auto;
    margin-right: auto;
    font-family: 'Typo-Round-Bold';
    color:black;
    font-size: max(4vw,30px);
  
    
}



/* Où sera rangé nos différents produits*/
section#produits {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 70px;
    gap: 40px;
}
section#produits div.article {
    position: relative;
    width: 260px;
    height:350px;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    text-align: center;

}

/*Les différentes variation des fonds des images*/
section#produits div.article > a > div.photofy {
    position: absolute;
    top:0;
    width : 100%;
    height: 250px;
    background-color: var(--yellow);
    border-radius: 20px;
    box-sizing: border-box;
}
section#produits div.article > a > div.photoflg {
    position: absolute;
    top:0;
    width : 100%;
    height: 250px;
    background-color: var(--lightGreen);
    border-radius: 20px;
    box-sizing: border-box;
}
section#produits div.article > a > div.photofdg {
    position: absolute;
    top:0;
    width : 100%;
    height: 250px;
    background-color: var(--darkerGreen);
    border-radius: 20px;
    box-sizing: border-box;
}
section#produits div.article > a > div.photoflpi {
    position: absolute;
    top:0;
    width : 100%;
    height: 250px;
    background-color: var(--lightPink);
    border-radius: 20px;
    box-sizing: border-box;
}
section#produits div.article > a > div.photofdpi {
    position: absolute;
    top:0;
    width : 100%;
    height: 250px;
    background-color: var(--darkerPink);
    border-radius: 20px;
    box-sizing: border-box;
}
section#produits div.article > a > div.photoflpu {
    position: absolute;
    top:0;
    width : 100%;
    height: 250px;
    background-color: var(--lightPurple);
    border-radius: 20px;
    box-sizing: border-box;
}
section#produits div.article > a > div.photofdpu {
    position: absolute;
    top:0;
    width : 100%;
    height: 250px;
    background-color: var(--darkerPurple);
    border-radius: 20px;
    box-sizing: border-box;
}
section#produits div.article > a > div.photoflb {
    position: absolute;
    top:0;
    width : 100%;
    height: 250px;
    background-color: var(--lightBlue);
    border-radius: 20px;
    box-sizing: border-box;
}
section#produits div.article > a > div.photofdb {
    position: absolute;
    top:0;
    width : 100%;
    height: 250px;
    background-color: var(--darkerBlue);
    border-radius: 20px;
    box-sizing: border-box;
}
/* Le placement des photos des articles*/
section#produits div.article > a > div[class^="photo"] > img {
    position: absolute;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    margin-top: 20px;
}
/* Le placement des informations sur l'article*/
section#produits div.article > p {
    position: absolute;
    font-family: "Typo-Round-Bold";
    bottom : 20%;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}
section#produits div.article > p:nth-child(3) {
   bottom: 45px;
   font-size: 15px;
}


/* Les valeurs général d'un boutton */
section#produits div.article button[class^="photo"] {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    height:40px;
    width:170px;
    background-color: white;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
}
/* Les différentes variations des boutons pour les produits*/
button.photofy{border: 5px solid var(--yellow);}
button.photoflg{border: 5px solid var(--lightGreen);}
button.photofdg{border: 5px solid var(--darkerGreen);}
button.photoflpi{border: 5px solid var(--lightPink);}
button.photofdpi{border: 5px solid var(--darkerPink);}
button.photoflpu{border: 5px solid var(--lightPurple);}
button.photofdpu{border: 5px solid var(--darkerPurple);}
button.photoflb{border: 5px solid var(--lightBlue);}
button.photofdb{border: 5px solid var(--darkerBlue);}